.idea/*
.VSCodeCounter/*
.vscode/*
env/*
.env/*
.vent/*
myenv/*
myenv
zak.log
zak2.log
media/employee/*
media/companies/*
media/customers/*
media/posts/*
media/profile/*
media/products/*
hopofy/.env
Hopofy.session.sql
hopofy/.env
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/*/__pycache__/*
.venv/*
node_modules
package.json
package-lock.json
.eslintrc.js
